@import "tailwindcss";

@theme {
  --color-cianobranco: #ebfbff;
  --color-cianoclaro: #7dc9e0;
  --color-ciano: #44bde2;
  --color-cianotxt: #004766;
  --color-bggray: #f5f9fa;
  --colorbggray2: #f6f9fa;
  --color-verde: #56828f;
}
